<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>Erreur:{{.Title}}</title>
</head>

<body>
    <nav>
        <div class="container">
            <a href="/">
                <div class="logo">
                    <i class="uil uil-layer-group"></i>
                    <h2 style="text-decoration: none;">Forum 01</h2>
                </div>
            </a>     
    </nav>
    <div class="pos">
        <h1 class="err">Erreur:{{.Body}}</h1>
    </div>
</body>

</html>